* {
    outline: none;
}

body{
  background-color: #009FE8 ;
}

.previousJokes{

}

.main{
  background-color: #009FE8;
}


.container{
  background-image: url("../images/chuck-retro.png");
  background-image: url();
  background-size: contain;
  background-repeat:no-repeat;
  background-color: #009FE8;
  padding: 60px 60px;

}

.container-2{
  background-color: #000;
  padding: 50px 50px;
}

.joke{
  text-align: center;
  color: #e3e6ea;
}

/*.button-main{
  padding-top: 25px;
}*/

.button{
  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 20px;
  background-color: #009FE8;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}

.list{
  list-style-type: none;
  font-weight: bold;
  color: #000;
  background-color: #009FE8;
}

li{
  margin: 20px 0;
}

.newJoke{
  text-align: center;
  color: #fff;
}

.title{
  text-align: center;
  /*color: #e3e6ea;*/
}

.previous{
  background-color: #009FE8;
  text-decoration: underline;
  color: #e3e6ea;
  padding: 40px 40px;
  text-align: center;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
