* {
    outline: none;
}

body{
  background-color: #009FE8 ;
  /*background-image: url("../images/chuck-retro.png");*/
}

.previousJokes{

}

.main{
  background-color: #009FE8;
}


.container{
  /*background-image: url("../images/chuck-retro.png");*/
  background-image: url("../images/chuck-retro.png"), url("../images/chuck-retro.png");
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
  background-size: contain;
  background-repeat:no-repeat;
  background-color: #009FE8;
  padding: 60px 60px;

}

.container-2{
  height:250px;
  overflow:scroll;
  background-color: #000;
  padding: 50px 50px;
}

.joke{
  text-align: center;
  color: #e3e6ea;
}

/*.button-main{
  padding-top: 25px;
}*/

.button{
  color: #000;
  display: block;
  margin: 0 auto;
  padding: 20px;
  background-color: #009FE8;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}

.list{
  list-style-type: none;
  font-weight: bold;
  font-size: 20px;
  color: #000;
  padding-bottom: 25px;
  background: rgba(0, 159, 232, .09);
}

li{
  margin: 23px 0;
}

.newJoke{
  line-height: 40px;
  text-align: center;
  height: 50px;
  color: #fff;
  padding-top: 25px;
  padding-bottom: 70px;
}

.title{
  text-align: center;
  /*color: #e3e6ea;*/
}

.previous{
  background-color: #009FE8;
  font-size: 25px;
  color: #000;
  padding: 40px 40px;
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
